<h3> Welcome!Take your todays dose of words and get step closer in learning new words</h3>
<h3><strong>Welldone! you choose a right path.</strong></h3>
<% if @data.blank? %>
	<h4>It seems you don't have any meanings in your inventory</h4>
<% else %>
	<% @data.each do |main_word, total_data| %>
		<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Word: <%= main_word.capitalize %></h2>
				<h3 class="panel-title">Gre Meaning: <%= total_data["original_gre_meaning"]%></h3>
			</div>
			<div class="panel-body">
				<% total_data.each do |word_key,word_data| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><%= word_key %></h3>
						</div>
						<div class="panel-body">
							<% word_data.each do |word| %>
								<ul class="list-group">
									<li class="list-group-item">
										<% word.each do |key,value| %>
										<div>
											<h4 class="list-group-item-heading"><%=key%></h4>
											<h5 class="list-group-item-text list-move-up"><em><%=value%></em></h5></br>
										</div>
										<% end if (!word.nil? && word.is_a?(Hash))%>
									</li>
								</ul>
							<% end if (!word_data.nil? && word_data.is_a?(Array)) %>
						</div>
					</div>
				<% end if (!total_data.nil? && total_data.is_a?(Hash) && word_key != "original_gre_meaning") %>
			</div>
		</div>
		</div>
	<% end %>
<% end %>